html
  head
    title Library API - #{title}
    block scripts
      script(src='')
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous")

  body(class="container")
    div(class="jumbotron")
      h1 Library API
    block content
    block page
    block notFound
    block foot
      #footer
        p some footer content